<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>
<!-- Contentfor the ADd page -->

<div class="container">
    <div class="row">
    <div class="offset-md-3 col-md-6"> </div>
    <h4>Add the Bussiness Contact! </h4>

    <form class="form" method="POST">
        <div class="form group">
            <label for="nameTextField">Contact Name</label> 
            <input type="text" class="form-control"
            id="nameTextField"
            placeholder="Enter the Book Title"
            name="name" required>
        </div>
        <div class="form group">
            <label for="authorTextField">Contact number</label> 
            <input type="text" class="form-control"
            id="authorTextField"
            placeholder="Enter the Book's Author"
            name="author" required>
        </div>
        <div class="form group">
            <label for="publishedTextField">Email Address</label> 
            <input type="text" class="form-control"
            id="publishedTextField"
            placeholder="Enter the Year of Publication"
            name="published" required>
        </div>

        <div class="form group">
            <label for="descriptionTextArea">(not optional) Message)</label> 
            <textarea type="text" class="form-control"
            id="descriptionTextArea"
            placeholder="Enter the brief description of the book"
            name="description" required> </textarea>
        </div>


     
        <button class="btn btn primary" type="submit">
            <i class="fas fa-edit"></i> Submit
        </button>

        <a href="/book-list" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel </a>
    </form>
    </div>
</div>





<%- include ../partials/bottom_nav.ejs %> 
<%- include ../partials/footer.ejs %>

